<div id="<%= dom_id salary %>">
  <p>
    <strong>User:</strong>
    <%= salary.user.name.full %>
  </p>

  <p>
    <strong>Bonus:</strong>
    <%= salary.bonus %>
  </p>

  <p>
    <strong>Gross total:</strong>
    <%= salary.gross_total %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= salary.month %>
  </p>

</div>
