<div id="<%= dom_id expense %>">
  <p>
    <strong>Expense type:</strong>
    <%= expense.expense_type.titleize %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= expense.date %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= expense.comments %>
  </p>
</div>
