<p style="color: green"><%= notice %></p>

<%= render @expense %>

<div>
  <%= link_to "Edit this expense", edit_company_expense_path(@company, @expense) %> |
  <%= link_to "Back to expenses", company_expenses_path(@company) %>

  <%= button_to "Destroy this expense", company_expense_path(@company, @expense), method: :delete %>
</div>
